<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<p>Index page: <a href="/">перейти</a></p>

<form action="#" th:action="@{/exchangeCurrency}" th:object="${exchangeTransaction}" method="post">
    <label>
        <select th:field="*{currencyFrom}">
            <option th:each="i : ${valCodes}" th:value="${i.id}" th:text="${i.getIsoCharCode()}">
            </option>
        </select>
    </label>
    <br><br>

    <label>
        <input type="text" th:field ="*{amountFrom}">
    </label>
    <br><br>

    <label>
        <select th:field="*{currencyTo}">
            <option th:each="i : ${valCodes}" th:value="${i.id}" th:text="${i.getIsoCharCode()}">
            </option>
        </select>
    </label>
    <br><br>

    <button type="submit">Exchange</button>
</form>

</body>
</html>