<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<table th:border="1">
    <thead>
    <tr>
        <th>Date</th>
        <th>Transaction</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${transactions.isEmpty()}">
        <td colspan="6"> No Data Available</td>
    </tr>
    <tr th:each="t : ${transactions}">
        <td><span th:text="${t.getLocalDateTime()}"></span></td>
        <td><span th:text="${t.getEvent()}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>