<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/showAlert.js}"></script>
</head>
<body>
<h1>Please login</h1>
<form action="/login" method="post">
    <input type="text" name="username" id="username" placeholder="UserName" required="true" autofocus="true"><br>
    <input type="password" name="password" id="password" placeholder="Password" required="true"><br>
    <button type="submit">Sign in</button>
</form>
</body>
</html>
