<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>User profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<h1>User profile</h1>

<div>
    <form id="userForm" action="#" th:action="@{/profile}" method="post" th:object="${userForm}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{username}">
        <label>First name: </label><input type="text" th:field="*{firstName}" th:value="*{firstName}"><br>
        <ul>
            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
        </ul>
        <label>Last name: </label><input type="text" th:field="*{lastName}"><br>
        <ul>
            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
        </ul>
        <label>E-mail: </label><input type="text" th:field="*{email}"><br>
        <ul>
            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
        </ul>
        <label>Password: </label><input type="password" th:field="*{password}"><br>
        <ul>
            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
        </ul>
        <label>Password confirm: </label><input type="password" th:field="*{passwordConfirm}">
        <ul>
            <li th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}"/>
        </ul>

        <ul>
            <li th:if="${password_error!=null}"><span th:text="${password_error}"></span></li>
        </ul>

        <button type="submit">Save profile</button>

        <!--        <ul>-->
        <!--            <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">-->
        <!--                <span th:text="${e.global}? '*' : ${e.fieldName}"/> :-->
        <!--                <span th:text="${e.message}"/>-->
        <!--            </li>-->
        <!--        </ul>-->

    </form>
    <p th:if="${update_result!=null}">Update successful</p>
</div>
</body>
</html>