<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<table th:border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>EngName</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${valCodeList.isEmpty()}">
        <td colspan="6"> No Data Available</td>
    </tr>
    <tr th:each="vc : ${valCodeList}">
        <td><span th:text="${vc.getId()}"></span></td>
        <td><span th:text="${vc.getName()}"></span></td>
        <td><span th:text="${vc.getEngName()}"></span></td>
    </tr>
    </tbody>
</table>

</body>
</html>